@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kayan scrollbar'ı gizle (isteğe bağlı, estetik için) */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}